body{
    margin: auto;
    min-width: 164px;
    max-width: 2000px;
    min-height: 100px;
    max-height: 500px;
    font-size: 12px;
    Color: #606060;
    background-color: #D8D9D9;
    font-family: Open Sans
    
}


.menu{
    background-color: white;
    margin: auto;
    width: 1000px;
    height:60px;
    
}

li{
    float: left;  
    list-style: none;
    padding: 10px;

    
}

nav{
    float: right;
}

a{
    text-decoration: none;
    color:  #606060;
    font-family: Open Sans
}

.imagen{
    
    margin-top: 20px;
    margin-left: 50px;
}

.zonaCambalaches{
    margin: auto;
    width: 1000px;
    height: 830px;
    background: white;
    position: relative;
    top: -16px;
    
  
}

h1{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    top: 80px;

}

.uno{
    position: relative;
    text-align: center;
    top: 80px;
}

.dos{
    position: relative;
    text-align: center;
    top: 70px;
}

.Play5{ 
    position: relative;
    width: 140px;
    height: 140px;
    top: 10px;
    left: 130px;
    
}

.Texto1{
    position: relative;
    top: 110px;
    left: 280px;
}

.Xbox{ 
    position: relative;
    width: 140px;
    height: 140px;
    top: -60px;
    left: 130px;
    
}

.Texto2{
    position: relative;
    top: 30px;
    left: 280px;
}

.Tele{ 
    position: relative;
    width: 140px;
    height: 140px;
    top: -130px;
    left: 130px;
    
}

.Texto3{
    position: relative;
    top: -40px;
    left: 280px;
}

.Sillon{ 
    position: relative;
    width: 140px;
    height: 140px;
    top: -760px;
    left: 400px;
    
}

.Texto4{
    position: relative;
    top: -665px;
    left: 540px;
}

.Olla{ 
    position: relative;
    width: 140px;
    height: 140px;
    top: -830px;
    left: 400px;
    
}

.Texto5{
    position: relative;
    top: -735px;
    left: 540px;
}

.pc{ 
    position: relative;
    width: 170px;
    height: 140px;
    top: -900px;
    left: 410px;
    
}

.Texto6{
    position: relative;
    top: -805px;
    left: 580px;
}

.ps4{ 
    position: relative;
    width: 170px;
    height: 140px;
    top: -1530px;
    left: 660px;
    
}

.Texto7{
    position: relative;
    top: -1435px;
    left: 830px;
}

.refri{ 
    position: relative;
    width: 170px;
    height: 140px;
    top: -1600px;
    left: 660px;
    
}

.Texto8{
    position: relative;
    top: -1500px;
    left: 830px;
}

.silla{ 
    position: relative;
    width: 140px;
    height: 140px;
    top: -1670px;
    left: 680px;
    
}

.Texto9{
    position: relative;
    top: -1570px;
    left: 830px;
}

.footer{
    background-color: white;
    width: 1000px;
    height: 200px;
    text-align: center;
    position: relative;
    right: -155px;
    top: -30px;
}

.lineaFooter{
    width: 100%;
    position: relative;
    top: 10px;
}

.Lineaa{
    width: 100%;
    position: relative;
    top: 80px;
}

.lineaArriba{
    position: relative;
    width: 100%;
    top: 10px;
}


