body{
    margin: auto;
    min-width: 164px;
    max-width: 2000px;
    min-height: 100px;
    max-height: 500px;
    font-size: 12px;
    Color: #606060;
    background-color: #D8D9D9;
    font-family: Open Sans
    
}


.menu{
    background-color: white;
    margin: auto;
    width: 1000px;
    height:60px;
    
}

li{
    float: left;  
    list-style: none;
    padding: 10px;

    
}

nav{
    float: right;
}

a{
    text-decoration: none;
    color:  #606060;
    font-family: Open Sans
}

.imagen{
    
    margin-top: 20px;
    margin-left: 50px;
}

.zonaProducto{
    margin: auto;
    width: 1000px;
    height: 440px;
    background: white;
    position: relative;
    top: -8px;
    
  
}

.imagenes{
    width: 400px;
    height: 400px;
    margin-top: 10px;
    margin-left: 10px;
}

.footer{
    background-color: white;
    width: 1000px;
    height: 140px;
    text-align: center;
    position: relative;
    right: -155px;
    top: -30px;
}

.lineaFooter{
    width: 100%;
    position: relative;
    top: 10px;
}

h1{
    font-size: 16px;
    font-weight: bold;
    position: relative;
    top: -400px;
    left: 650px;
}

h2{
    font-size: 12px;
    font-weight: bold;
    position: relative;
    top: -400px;
    left: 550px;
}

.linea1{
    width: 30%;
    position: relative;
    top: -380px;
    left: 200px;
}

.link{
    color: #17A7EA;
    font-weight: 600;
}

.p1{
    position: relative;
    top: -400px;
    left: 550px;

}

.p2{
    position: relative;
    top: -400px;
    left: 550px;

}

.linea2{
    width: 10%;
    position: relative;
    top: -380px;
    left: 100px;
}

.button1{
    border: none;
    width: 10%;
    height: 30px;
    color: white;
    font-size: 11px;
    background: gray;
    cursor: pointer; 
    position: relative;
    left: 550px;
    top: -370px;
}

