body{
    margin: auto;
    min-width: 164px;
    max-width: 2000px;
    min-height: 100px;
    max-height: 500px;
    font-size: 12px;
    Color: #606060;
    background-color: #D8D9D9;
    font-family: Open Sans
    
}

.menu{
    background-color: #cbdee2;
    margin: auto;
    width: 1000px;
    height:60px;
    
}

li{
    float: left;  
    list-style: none;
    padding: 10px;

    
}

nav{
    float: right;
}

a{
    text-decoration: none;
    color:  #606060;
    font-family: Open Sans
}

.imagen{
    
    margin-top: 10px;
    margin-left: 50px;
}

.zonaTitulo{
    margin: auto;
    width: 1000px;
    height: 300px;
    background: #cbdee2;
    position: relative;
    top: -11px;
}

h1{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    top: 80px;

}

.lineaTitulo{  
    width: 20%;
    position: relative;
    top: 100px;
}

input[type="search"]
{
    font-size: 11;
    width: 100%;
    padding: 8px;
    height: 40px;
    border: none;
   
}

.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}

.contenedor{
    margin-top: 120px;
    margin-left: 250px;
    width: 30%;
    height: 40px;
    padding: 10px;
}


.button1{
    border: none;
    width: 40%;
    height: 40px;
    color: white;
    font-size: 11px;
    background: gray;
    cursor: pointer;
    position: relative;
    left: 330px;
    top: -55px;
    
}

.uno{
    position: relative;
    text-align: center;
    top: 80px;
}

.dos{
    position: relative;
    text-align: center;
    top: 70px;
}

.zonaCuerpo{
    margin: auto;
    width: 1000px;
    height: 1030px;
    background: white;
    position: relative;
    top: 78px;
    
  
}

.electronicos{ 
    position: relative;
    width: 180px;
    height: 140px;
    top: 120px;
    left: 180px;
    
}

.Texto1{
    position: relative;
    top: 120px;
    left: 220px;
}

.hogar{ 
    position: relative;
    width: 180px;
    height: 150px;
    top: -70px;
    left: 430px;
    
}

.Texto2{
    position: relative;
    top: -70px;
    left: 500px;
}

.negocio{ 
    position: relative;
    width: 180px;
    height: 150px;
    top: -265px;
    left: 670px;
    
}

.Texto3{
    position: relative;
    top: -265px;
    left: 730px;
}

.lineaMedia{
    width: 100%;
    position: relative;
    top: 400px;
}

.titulo2{
    position: relative;
    top: -150px;
}

.ps4{ 
    position: relative;
    width: 450px;
    height: 350px;
    top: -100px;
    left: 0px;
    
}

.Texto4{
    position: relative;
    top: -160px;
    left: 210px;
    font-size: 20px;
}

.ps5{ 
    position: relative;
    width: 450px;
    height: 370px;
    top: -540px;
    left: 480px;
    
}

.Texto5{
    position: relative;
    top: -597px;
    left: 670px;
    font-size: 20px;
}

.iz{
    position: relative;
    width: 30px;
    height: 30px;
    top: -800px;
    left: 10px;
   
}

.de{
    position: relative;
    width: 40px;
    height: 36px;
    top: -797px;
    left: 910px;
   
}

.footer{
    background-color: white;
    width: 1000px;
    height: 200px;
    text-align: center;
    position: relative;
    right: -155px;
    top: 1000px;
}

.lineaFooter{
    width: 100%;
    position: relative;
    top: 10px;
}