body{
    margin: auto;
    min-width: 164px;
    max-width: 2000px;
    min-height: 100px;
    max-height: 200px;
    font-size: 12px;
    Color: #606060;
    background-color: #D8D9D9;
    font-family: Open Sans
    
}


.zonalogin{
    margin: auto;
    width: 1000px;
    height: 430px;
    background: white;
    position: relative;
    top: -160px;
    
  
}

.zonaTitulo{
    margin: auto;
    width: 1000px;
    height: 150px;
    background: #cbdee2;
    position: relative;
    top: -10px;
}

.contenedor{
    margin-left: 97px;
    width: 60%;
    padding: 10px;
}

.Formulario{
    background-color: white;
    margin-top: 150px;
    padding: 3px;
    
}

h1{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    top: 80px;

}

input[type="text"],
input[type="password"]
{
    font-size: 11;
    width: 94%;
    padding: 8px;
    border: none;
   
}

.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}

.button1{
    border: none;
    width: 40%;
    height: 30px;
    color: white;
    font-size: 11px;
    background: gray;
    
    cursor: pointer;
    
}

.button2{
    border: none;
    width: 40%;
    height: 30px;
    color: gray;
    font-size: 11px;
    background: #eeeeee;
  
    cursor: pointer;
    margin-left: 52px;
    
}

p{
    text-align: center;
}

.link{
    color: #17A7EA;
    font-weight: 600;
}

@media(min-width:768px){
    .Formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
    }
}

.lineaTitulo{  
    width: 20%;
    position: relative;
    top: 100px;
}

.linea{
    width: 100%; 
    color: white;
    border: none;
    margin-top: 50px;
}

.linea2{
    width: 135%; 
    color: black;
    position: relative;
    top: 160px;
    right: 90px;
    
}

.menu{
    background-color: white;
    margin: auto;
    width: 1000px;
    height:60px;
    
}

li{
    float: left;  
    list-style: none;
    padding: 10px;

    
}

nav{
    float: right;
}

a{
    text-decoration: none;
    color:  #606060;
    font-family: Open Sans
}

.imagen{
    
    margin-top: 20px;
    margin-left: 50px;
}

.footer{
    background-color: white;
    width: 1000px;
    height: 200px;
    text-align: center;
    position: relative;
    right: -155px;
    top: -230px;
}
