body{
    margin: auto;
    min-width: 164px;
    max-width: 2000px;
    min-height: 100px;
    max-height: 500px;
    font-size: 12px;
    Color: #606060;
    background-color: #D8D9D9;
    font-family: Open Sans
    
}

.menu{
    background-color: white;
    margin: auto;
    width: 1000px;
    height:60px;
    
}

.lineaArriba{
    position: relative;
    width: 100%;
    top: 10px;
}

li{
    float: left;  
    list-style: none;
    padding: 10px;

    
}

nav{
    float: right;
}

a{
    text-decoration: none;
    color:  #606060;
    font-family: Open Sans
}

.imagen{
    
    margin-top: 20px;
    margin-left: 50px;
}

h1{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    top: 20px;

}

p{
    text-align: center;
}

.zonaMain{
    margin: auto;
    width: 1000px;
    height: 530px;
    background: white;
    position: relative;
    top: -11px;
    
}

.button1{
    border: none;
    width: 10%;
    height: 30px;
    color: white;
    font-size: 11px;
    background: gray;
    cursor: pointer;
    position: relative;
    top: 50px;
    left: 70px;
    
}

.Play5{ 
    position: relative;
    width: 170px;
    height: 170px;
    top: -20px;
    left: 70px;
    
}

.Texto1{
    position: relative;
    top: 40px;
    left: -210px;
}

.button2{
    border: none;
    width: 7%;
    height: 30px;
    color: white;
    font-size: 11px;
    background: rgb(30, 136, 30);
    cursor: pointer;
    position: relative;
    top: -115px;
    left: 82px;   
}

.button3{
    border: none;
    width: 7%;
    height: 30px;
    color: white;
    font-size: 11px;
    background: red;
    cursor: pointer;
    position: relative;
    top: -60px;
    left: 10px;
    
}

.Xbox{ 
    position: relative;
    width: 140px;
    height: 140px;
    top: -280px;
    left: 370px;
    
}

.Texto2{
    position: relative;
    top: -242px;
    left: 40px;
}

.button4{
    border: none;
    width: 7%;
    height: 30px;
    color: white;
    font-size: 11px;
    background: rgb(30, 136, 30);
    cursor: pointer;
    position: relative;
    top: -365px;
    left: 365px;   
}

.button5{
    border: none;
    width: 7%;
    height: 30px;
    color: white;
    font-size: 11px;
    background: red;
    cursor: pointer;
    position: relative;
    top: -310px;
    left: 292px;
    
}

.pc{ 
    position: relative;
    width: 170px;
    height: 140px;
    top: -530px;
    left: 630px;
    
}

.Texto3{
    position: relative;
    top: -490px;
    left: 340px;
}

.button6{
    border: none;
    width: 7%;
    height: 30px;
    color: white;
    font-size: 11px;
    background: rgb(30, 136, 30);
    cursor: pointer;
    position: relative;
    top: -615px;
    left: 635px;   
}

.button7{
    border: none;
    width: 7%;
    height: 30px;
    color: white;
    font-size: 11px;
    background: red;
    cursor: pointer;
    position: relative;
    top: -560px;
    left: 562px;
    
}

.footer{
    background-color: white;
    width: 1000px;
    height: 200px;
    text-align: center;
    position: relative;
    right: -155px;
    top: -40px;
}

.link{
    color: #17A7EA;
    font-weight: 600;
}

.Linea1{
    width: 100%;
    position: relative;
    top: 50px;
}

.lineaFooter{
    width: 100%;
    position: relative;
    top: 10px;
}