body{
    margin: auto;
    min-width: 164px;
    max-width: 2000px;
    min-height: 100px;
    max-height: 200px;
    font-size: 12px;
    Color: #606060;
    background-color: #D8D9D9;
    font-family: Open Sans
    
}
.menu{
    background-color: white;
    margin: auto;
    width: 1000px;
    height:60px;
    
}

.imagen{
    
    margin-top: 20px;
    margin-left: 50px;
}

li{
    float: left;  
    list-style: none;
    padding: 10px;

    
}

nav{
    float: right;
}

a{
    text-decoration: none;
    color:  #606060;
    font-family: Open Sans
}

h1{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    top: 80px;

}

.zonaTitulo{
    margin: auto;
    width: 1000px;
    height: 150px;
    background: #cbdee2;
    position: relative;
    top: -16px;
}

.lineaTitulo{  
    width: 20%;
    position: relative;
    top: 100px;
}

.Formulario{
    background-color: white;
    margin-top: 150px;
    padding: 3px;
    
}

.zonaProducto{
    margin: auto;
    width: 1000px;
    height: 530px;
    background: white;
    position: relative;
    top: -28px;
    
  
}

.primerParrafo{
    position: relative;
    left: 300px;
    top: 20px;  
    Padding: 10px;

}

input[type="text"]
{
    font-size: 11;
    padding: 8px;
    border: none;
    width: 89%;
    height: 84%;
}

.Nombre{   
    position: relative;
    left: 310px;
    top: 40px;
    margin-bottom: 15px;
    border: 1px solid #aaa;
    width: 15%;
}

.Descripcion{
    position: relative;
    left: 310px;
    top: 40px;
    margin-bottom: 15px;   
    border: 1px solid #aaa;
    height: 100px;
    width: 380px;
}

.Enlace{
    position: relative;
    left: 310px;
    top: 40px;
    margin-bottom: 15px;   
    border: 1px solid #aaa;
    width: 380px;
}

.Busco{
    position: relative;
    left: 310px;
    top: 40px;
    margin-bottom: 15px;   
    border: 1px solid #aaa;
    height: 100px;
    width: 380px;
}

.button1{
    position: relative;
    border: none;
    width: 13%;
    height: 35px;
    color: white;
    font-size: 11px;
    background: gray;
    cursor: pointer;
    left: 340px;
    top: 70px;
    
}

.button2{
    position: relative;
    border: none;
    width: 13%;
    height: 35px;
    color: gray;
    font-size: 11px;
    background: #eeeeee;
    cursor: pointer;
    left: 400px;
    top: 70px;

}

.footer{
    background-color: white;
    width: 1000px;
    height: 200px;
    text-align: center;
    position: relative;
    right: -155px;
    top: -40px;
}

.lineaFooter{
    width: 100%;
    position: relative;
    top: 10px;
}

.lineabotones{
    width: 40%;
    position: relative;
    top: 50px;
}