body{
    margin: auto;
    min-width: 164px;
    max-width: 2000px;
    min-height: 100px;
    max-height: 200px;
    font-size: 12px;
    Color: #606060;
    background-color: #D8D9D9;
    font-family: Open Sans
    
}
.menu{
    background-color: white;
    margin: auto;
    width: 1000px;
    height:60px;
    
}

.imagen{
    
    margin-top: 20px;
    margin-left: 50px;
}

li{
    float: left;  
    list-style: none;
    padding: 10px;

    
}

nav{
    float: right;
}

a{
    text-decoration: none;
    color:  #606060;
    font-family: Open Sans
}

.zonaTitulo{
    margin: auto;
    width: 1000px;
    height: 150px;
    background: #cbdee2;
    position: relative;
    top: -16px;
}

.lineaTitulo{  
    width: 20%;
    position: relative;
    top: 100px;
}

h1{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    top: 80px;

}

.Formulario{
    background-color: white;
    margin-top: 150px;
    padding: 3px;
    
}

.zonaRegistro{
    margin: auto;
    width: 1000px;
    height: 530px;
    background: white;
    position: relative;
    top: -16px;
    
  
}

input[type="text"],
input[type="password"]
{
    font-size: 11;
    width: 93%;
    padding: 8px;
    border: none;
   
}


.name{
    position: relative;
    left: 230px;
    top: 75px;
    margin-bottom: 15px;
    border: 1px solid #aaa;
    width: 25%;
}

.lastname{
    position: relative;
    left: 510px;
    top: 28px;
    margin-bottom: 15px;
    border: 1px solid #aaa;
    width: 25%;
}

.address{
    position: relative;
    left: 230px;
    top: 35px;
    margin-bottom: 15px;
    border: 1px solid #aaa;
    width: 53%;
}

.address2{
    position: relative;
    left: 230px;
    top: 45px;
    margin-bottom: 15px;
    border: 1px solid #aaa;
    width: 53%;
}

.select{
    position: relative;
    left: 111px;
    top: 25px;
    width: 50%;
    height: 33px;
    font-size: 11;
    padding: 8px;
    
}

.City{
    position: relative;
    left: 510px;
    top: 9px;
    margin-bottom: 15px;
    border: 1px solid #aaa;
    width: 25%;
}

.Correo{
    position: relative;
    left: 230px;
    top: 20px;
    margin-bottom: 15px;
    border: 1px solid #aaa;
    width: 25%;
}

.Contraseña{
    position: relative;
    left: 510px;
    top: -28px;
    margin-bottom: 15px;
    border: 1px solid #aaa;
    width: 25%;
}

.textoCuenta{
    position: relative;
    top: -10px;
    left: 230px;
}

.link{
    color: #17A7EA;
    font-weight: 600;
}

.button1{
    position: relative;
    border: none;
    width: 13%;
    height: 35px;
    color: white;
    font-size: 11px;
    background: gray;
    cursor: pointer;
    left: 340px;
    top: 20px;
    
}

.button2{
    position: relative;
    border: none;
    width: 13%;
    height: 35px;
    color: gray;
    font-size: 11px;
    background: #eeeeee;
    cursor: pointer;
    left: 400px;
    top: 20px;

}

.lineaFinal{
    width: 58%;
    position: relative;
    top: -20px;
}

.footer{
    background-color: white;
    width: 1000px;
    height: 200px;
    text-align: center;
    position: relative;
    right: -155px;
    top: -30px;
}

.lineaFooter{
    width: 100%;
    position: relative;
    top: 10px;
}